
@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaCurlySlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaCurlySlab-ExtendedHeavyItalic.ttf') format('truetype');
}
